<h1>RailsBridgeCorp Open Jobs</h1>

<!-- etiquetas que empiezan con % no da resultado solo ejecuta la acción "mandas comandos" -->
<% @jobs.each do |job| %>
  <!-- etiquetas que empiezan con %= se toma el valor de la variable linkeada "esperas resultados" -->
  <h3><%= job.title %></h3>
  <p><%= job.description %></p>
  <h5><%= link_to "Edit Posting", edit_job_path(job)%></h5>
  <h5><%= link_to 'Delete Posting', job, method: :delete %></h5>
<% end %>