<!DOCTYPE html>
<html>
<head>
	<title>JobBoard</title>
	<%= stylesheet_link_tag    "application", media: "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class="container">

		<div class="navbar navbar-default">
	    	<div class="navbar-header">
	      		<a class="navbar-brand" href="#">Message Board</a>
	    	</div>
	    	<ul class="nav navbar-nav">
	      		<!--<li class="active"><a href="/">Home</a></li>-->
	      		<li class="active"><%= link_to "Home", jobs_path %></li>
	    	</ul>
	    	<ul class="nav navbar-nav">
	      		<!--<li class=""><a href="/new">Add Job</a></li>-->
	      		<li><%= link_to "Add Job", new_job_path %></li>
	    	</ul>
	    	<p class="navbar-text pull-right">logged_in_user@email.com | <a href="log_out_link_here">Log Out</a></p>
	    	<!--<div class="clearfix"></div>-->
		</div>

		<p class="notice"><%= notice %></p>
 		<p class="alert"><%= alert %></p>

		<%= yield %>
	</div>	

</body>
</html>
